.svg-box {
  display:inline-block;
  position: relative;
  width:150px;
  .circular circle.path {
    stroke-dasharray: 330;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: 0.35s draw-circle ease-out;
  }
  .checkmark {
    stroke-width: 6.25;
    stroke-linecap: round;
    position:absolute;
    top: 56px;
    left: 49px;
    width: 52px;
    height: 40px;
    path {
      animation: 0.5s draw-check ease-out;
    }
  }
}

.white-stroke {
  stroke:#FFFFFF;
}

@keyframes draw-circle {
  0% {
      stroke-dasharray: 0,330;
      stroke-dashoffset: 0;
  }

  100% {
      stroke-dasharray: 330,330;
      stroke-dashoffset: 0;
  }
}

@keyframes draw-check {
  0% {
      stroke-dasharray: 49,80;
      stroke-dashoffset: 48;
  }

  50% {
      stroke-dasharray: 49,80;
      stroke-dashoffset: 48;
  }

  100% {
      stroke-dasharray: 130,80;
      stroke-dashoffset: 48;
  }
}